.nav {
  padding: 2em 6em 2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo {
  width: 20vh;
  margin-right: 10vmin;
}

.links {
  flex: 1 1 auto;
  color: var(--color-sand);
}

.links li {
  display: inline;
  margin: 1em;
  letter-spacing: 0.5px;
  font-size: 1.2em;
}

.hamburgerLinks {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.hamburgerLinks li {
  margin: 10px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: min-content;
}

.sand {
  color: var(--color-sand);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}
